<h1>Adoptions Galleri</h1>
    @if (favouriteDogImages.length > 0) {
        <div class="favDogGridContainer">
          @for (favDogImg of favouriteDogImages; track $index) {
            <div class="favDogContent">
              <img class="favDogImg" src="{{ favDogImg }}" alt="Favorit Hunde Billede {{ $index + 1 }}" />
              <button class="removeDogButton" (click)="removeFavouriteDogOnClick(favDogImg)">
                    Bortadopter 
              </button>
            </div>
          }
        </div>
    } @else {
      <div class="noFavsMessage">
        <h3>Du har ikke adopteret nogle hunde endnu.</h3>
      </div>
    }