<div class="frontPageContainer">
    <h1>Velkommen!</h1>
    <h2>Her kan du adoptere en hund</h2>
     <div class="frontPageParagraph">
        <p>Tryk på knappen for at få en tilfældig</p><p (click)="getThisDog()"> hund.</p><p> Alle er skønne på hver deres måde.</p>
     </div>
     <!--TODO undersøg om der er locale/måder at centralisere tekst i angular-->

    <div class="frontPageContent">

        <div class="dogImageContainer">
            <img class="dogImage" src="{{ dogImageUrl }}" alt="Billede af en tilfældig, sød hund">
        </div>

        <div class="buttonContainer">
            <button (click)="getRandomDogImageOnClick()">
                Få din hund her
            </button>
            <div>
                @if (isDogFavourite(dogImageUrl)) {
                    <button class="noHover" disabled>
                    Adopteret
                    </button>
                } @else {
                    <button class="adoptionButton" (click)="addDogAsFavouriteOnClick()">
                    Adopter
                    </button>
                }
            </div>
        </div>


    </div>

    <h2>Se dine adopterede hunde under <a routerLink="/gallery">galleriet</a></h2>

    @if (showThatDog) {
        <div class="surpriseOverlay" (click)="showThatDog = false">
            <div class="surprise">
                <h2>Det en kat</h2>
                <img src="katteBillede.jpeg">
                <button (click)="showThatDog = false">OK</button>
            </div>
        </div>
    }
</div>



